.padding--none {
    padding: 0 !important;
}

.padding--3xsmall {
    padding: $size-3xsmall !important;
}

.padding--2xsmall {
    padding: $size-2xsmall !important;
}

.padding--xsmall {
    padding: $size-xsmall !important;
}

.padding--small {
    padding: $size-small !important;
}

.padding--medium {
    padding: $size-medium !important;
}

.padding--large {
    padding: $size-large !important;
}

.padding--xlarge {
    padding: $size-xlarge !important;
}

.padding--2xlarge {
    padding: $size-2xlarge !important;
}

.padding--top-none {
    padding-top: 0 !important;
}

.padding--top-3xsmall {
    padding-top: $size-3xsmall !important;
}

.padding--top-2xsmall {
    padding-top: $size-2xsmall !important;
}

.padding--top-xsmall {
    padding-top: $size-xsmall !important;
}

.padding--top-small {
    padding-top: $size-small !important;
}

.padding--top-medium {
    padding-top: $size-medium !important;
}

.padding--top-large {
    padding-top: $size-large !important;
}

.padding--top-xlarge {
    padding-top: $size-xlarge !important;
}

.padding--top-2xlarge {
    padding-top: $size-2xlarge !important;
}

.padding--right-none {
    padding-right: 0 !important;
}

.padding--right-3xsmall {
    padding-right: $size-3xsmall !important;
}

.padding--right-2xsmall {
    padding-right: $size-2xsmall !important;
}

.padding--right-xsmall {
    padding-right: $size-xsmall !important;
}

.padding--right-small {
    padding-right: $size-small !important;
}

.padding--right-medium {
    padding-right: $size-medium !important;
}

.padding--right-large {
    padding-right: $size-large !important;
}

.padding--right-xlarge {
    padding-right: $size-xlarge !important;
}

.padding--right-2xlarge {
    padding-right: $size-2xlarge !important;
}

.padding--bottom-none {
    padding-bottom: 0 !important;
}

.padding--bottom-3xsmall {
    padding-bottom: $size-3xsmall !important;
}

.padding--bottom-2xsmall {
    padding-bottom: $size-2xsmall !important;
}

.padding--bottom-xsmall {
    padding-bottom: $size-xsmall !important;
}

.padding--bottom-small {
    padding-bottom: $size-small !important;
}

.padding--bottom-medium {
    padding-bottom: $size-medium !important;
}

.padding--bottom-large {
    padding-bottom: $size-large !important;
}

.padding--bottom-xlarge {
    padding-bottom: $size-xlarge !important;
}

.padding--bottom-2xlarge {
    padding-bottom: $size-2xlarge !important;
}

.padding--left-none {
    padding-left: 0 !important;
}

.padding--left-3xsmall {
    padding-left: $size-3xsmall !important;
}

.padding--left-2xsmall {
    padding-left: $size-2xsmall !important;
}

.padding--left-xsmall {
    padding-left: $size-xsmall !important;
}

.padding--left-small {
    padding-left: $size-small !important;
}

.padding--left-medium {
    padding-left: $size-medium !important;
}

.padding--left-large {
    padding-left: $size-large !important;
}

.padding--left-xlarge {
    padding-left: $size-xlarge !important;
}

.padding--left-2xlarge {
    padding-left: $size-2xlarge !important;
}
