// colors
$color-primary: #9575CD;
$color-primary-dark: #694d99;
$color-secondary: #cd75c1;
$color-secondary-dark: #97598f;
$color-alert: #fd4579;
$color-alert-dark: #b6274f;

// shades of gray
$color-white: #eee;
$color-white-opacity: rgba(255, 255, 255, 0.2);
$color-grey-light: #e4e4e4;
$color-grey: #929292;
$color-grey-dark: #313131;
$color-black: #121212;
$color-black-opacity: rgba(0, 0, 7, 0.2);

// breakpoints
$bp-sm: 576px !default;
$bp-md: 768px !default;
$bp-lg: 1024px !default;

// grid max width
$layout-container-max-width: 1140px !default;

// Desktop base unit is in pixels
$size-base-lg: 16px;

// But in mobile, base unit is in viewport width i.e. font and spacing is fluid and scales with viewport size
$size-base-md: 2vw;
$size-base-sm: 3.2vw;
$size-base-xs: 4vw;

// font sizes
$type-smallest: 0.75rem;
$type-small: 0.875rem;
$type-body: 1rem;
$type-large: 1.5rem;
$type-largest: 2rem;

// font weights
$weight-light: 300;
$weight-normal: 400;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-black: 900;

// line heights
$line-height-h1: 1.5;
$line-height-h2: 1.38;
$line-height-h3: 1.27;
$line-height-h4: 1.77;
$line-height-h5: 1.5;
$line-height-body: 1.3;
$line-height-label: 1.71;
$line-height-meta: 1.42;

$letter-spacing-body: 0;

// these are size multipliers used for whitespace (margins, paddings)
$size-3xsmall: 0.25rem;   // 4  px
$size-2xsmall: 0.5rem;    // 8  px
$size-xsmall: 0.75rem;    // 12 px
$size-small: 1rem;        // 16 px
$size-smedium: 1.2rem;
$size-medium: 1.5rem;     // 24 px
$size-large: 2rem;        // 32 px
$size-xlarge: 4rem;       // 64 px
$size-2xlarge: 6rem;      // 96 px
$size-3xlarge: 8rem;      // 128px px

$border-radius-rounded: 5px;
